@model List<Categories>
@{

}
@foreach (var kategoria in Model)
{
    <div class="row m-2">
        <div class="col-6" style="border: 1px solid black; border-radius: 5px; background-color:antiquewhite">
            <a href="/Kategorie/KategorieAudiobooks?kategoria=@kategoria.name">@kategoria.name</a>
        </div>
        <div class="col-6" style="border: 1px solid black; border-radius: 5px; background-color:antiquewhite">
            <a href="@kategoria.href">@kategoria.href</a>
        </div>
    </div>
    
}