@model WolneLekturyCwiczenia.Models.SQL.Table.Category
    
@{
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <form action="/Kategorie/NewCategory" method="post" class="row">
            <div class="container row">
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <label for="exampleFormControlInput1">Dodaj url</label>
                    <input type="name" class="form-control" name="url" id="exampleFormControlInput1" placeholder="Url">
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <label for="exampleFormControlInput1">Dodaj href</label>
                    <input type="name" class="form-control" name="href" id="exampleFormControlInput1" placeholder="Href">
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <label for="exampleFormControlInput1">Dodaj name</label>
                    <input type="name" class="form-control" name="name" id="exampleFormControlInput1" placeholder="Name">
                </div>
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <label for="exampleFormControlInput1">Dodaj slug</label>
                    <input type="name" class="form-control" name="slug" id="exampleFormControlInput1" placeholder="Slug">
                </div>
            </div>  
            <div class="text-center"><input type="submit" value="Dodaj" class="btn btn-success mt-2"></input></div>
        </form>
    </div>
</body>
</html>
