@model List<WolneLekturyCwiczenia.Models.SQL.Table.Audio>
@{
}
<table id="myTable" class="display">
    <thead>
        <tr>
            <th>Autor</th>
            <th>Tytuł</th>
            <th>Gatunek</th>
            <th>Epoka</th>
        </tr>
    </thead>
 
</table>



@section Scripts {
    <script>
        $(document).ready(function () {

            const table = new DataTable('#myTable', {
                ajax: '/audiojs/_getaudiobooks',
                lengthMenu: [
                    [50, 100],
                    [50, 100]
                ],
                columns: [
                    { data: 'author' },
                    { data: 'title' },
                    { data: 'genre' },
                    { data: 'epoch' }
                ],
                order: [[2, 'desc']],
                processing: true,
                serverSide: true
            });


        });
    </script>
}
