@model List<Audiobooks>

<div class="row" >
    <div class="col-2" style="border-radius:5px; border: 1px solid black; background-color:antiquewhite">
    @foreach (var audiobooks in Model)
    {
        @audiobooks.author
        @audiobooks.genre
        @audiobooks.title
    }
    </div>
</div>