@model WolneLekturyCwiczenia.Models.Nasa
@{

}
<div class="container-fluid pt-4" style="background-color:antiquewhite; min-height:830px;">
    <div class="container ">
    <h1 class="text-center mb-5" >@Model.title</h1>        
    <div class="img-fluid text-center mb-3"><img src="@Model.url"/></div>
    <p>@Model.explanation</p>    
    </div>
</div>

